In [2]:
import pandas as pd
import scipy.stats as stats
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
dfData = pd.read_csv("E:/PycharmProjects/statisticalAnalysis/difficile.csv")
dfData.drop('person', axis=1, inplace=True)

In [3]:
dfData['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace=True)
rp.summary_cont(dfData['libido'])

  Variable     N    Mean      SD      SE  95% Conf.  Interval
0   libido  15.0  3.4667  1.7674  0.4563     2.4879    4.4454

In [4]:
rp.summary_cont(dfData['libido'].groupby(dfData['dose']))

         N  Mean      SD      SE  95% Conf.  Interval
dose
high     5   5.0  1.5811  0.7071     3.0368    6.9632
low      5   3.2  1.3038  0.5831     1.5811    4.8189
placebo  5   2.2  1.3038  0.5831     0.5811    3.8189

In [5]:
# To perform an ANOVA test there are a few ways this can be done with Python.
stats.f_oneway(dfData['libido'][dfData['dose'] == 'high'],
               dfData['libido'][dfData['dose'] == 'low'],
               dfData['libido'][dfData['dose'] == 'placebo'])

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

In [9]:
aov_table = sm.stats.anova_lm(results, typ=2)
aov_table

NameError: name 'results' is not defined